version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    groups:
      dev-deps:
        dependency-type: development
      deps:
        dependency-type: production
