# .env.example
# This file is a template for the .env file
# Usage: Copy this file to .env and fill the values

# Discord Bot Token
# You can grab it from https://discord.com/developers/applications/
# Open your application, go to the Bot section (generate/reset the token if needed), copy the token
# Paste it here replacing <DISCORD_TOKEN> with your token
DISCORD_TOKEN=<DISCORD_TOKEN>

# Discord Client ID
# You can grab it from https://discord.com/developers/applications/
# In the "General Information" tab, you will see the "Application ID"
# Paste it here replacing <DISCORD_CLIENT_ID> with your application's bot client ID
DISCORD_CLIENT_ID=<DISCORD_CLIENT_ID>

# Database file name
# The database file will be created in the root of the project
# You can change the name if you want, just make sure to keep the .db extension
# Example: mydatabase.db
# Replace <DB_FILE_NAME> with your desired database file name
DB_FILE_NAME=<DB_FILE_NAME>

# Schedule URL
# This is the URL of the schedule you want to use. This should point to an .ics file
# Replace <SCHEDULE_URL> with your schedule URL
SCHEDULE_URL=<SCHEDULE_URL>

# Gemini API Key
# You can grab it from https://aistudio.google.com/api-keys
GOOGLE_GENERATIVE_AI_API_KEY=<GEMINI_API_KEY>

# Max roast allowed per user per day
# You can change it to any number you want
MAX_ROASTS_PER_USER_PER_DAY=2
